/*视角*/
.eyes{
perspective: 2000px;
transform-style: preserve-3d;
}

/*设置盒子boxone*/
.boxone{
/*设置3D效果*/
transform-style: preserve-3d;
/*盒子的大小*/
width: 200px;
height: 200px;
/*设置盒子的位置，便于观察*/
margin:400px auto;
/*复合方式设置动画 三者分别为：动画名 执行一次时间 执行方式*/
animation: zhuan 40s ease;
/*令动画无限执行下去*/
animation-iteration-count: infinite;
animation-timing-function:linear;
}


/*设置盒子boxtwo*/
.boxtwo{
/*设置3D效果*/
transform-style: preserve-3d;
/*盒子的大小*/
width: 50px;
height: 50px;
}

/*设置boxone的img*/
.boxone img{
width: 200px;
height: 200px;
opacity: 1;
position:absolute;
}

/*设置boxtwo的img*/
.boxtwo img{
width: 50px;
height: 50px;
position: absolute;
}
#two9 img{
width: 50px;
height: 50px;
opacity: 0;
position: absolute;
}


/*调整位置，将外部盒子制作成一个六边形*/
.boxone #yi{
transform: translateZ(100px);
}
.boxone #er{
transform: translateZ(-100px);
}
.boxone #san{
transform: rotateX(90deg) translateZ(100px);
}
.boxone #si{
transform: rotateX(270deg) translateZ(100px);
}
.boxone #wu{
transform: rotateY(-90deg) translateZ(100px);
}
.boxone #liu{
transform: rotateY(90deg) translateZ(100px);
}

/*调整位置，将内部盒子制作成一个六边形*/
.yi{
transform: translateZ(25px);
}
..er{
transform: translateZ(-25px);
}
.san{
transform: rotateX(90deg) translateZ(25px);
}
.si{
transform: rotateX(270deg) translateZ(25px);
}
.wu{
transform: rotateY(-90deg) translateZ(25px);
}
.liu{
transform: rotateY(90deg) translateZ(25px);
}


/*定位小盒子*/
#two1{
		transform: translate3d(50px,50px,-25px);
}
#two2{
		transform: translate3d(50px,0px,25px);
}
#two3{
		transform: translate3d(50px,0px,-25px);
}
#two4{
		transform: translate3d(50px,-50px,25px);
}
#two5{
		transform: translate3d(100px,-150px,-25px);
}
#two6{
		transform: translate3d(100px,-150px,-25px);
}
#two7{
		transform: translate3d(100px,-250px,25px);
}
#two8{
		transform: translate3d(100px,-250px,25px);
}
#two9{
		transform: translate3d(75px,-325px,0px);
}














/*添加3D旋转效果 让其绕X、Y轴同时旋转90度*/
@keyframes zhuan{
	from{
	transform: rotateX(0deg) rotateY(0deg);
	}
	to{
	transform: rotateX(360deg) rotateY(360deg);
	}
}